<div class="container mb-4">
  <button
    mdbRipple
    type="button"
    class="btn btn-primary create"
    (click)="addCustomer()"
  >
    Create Customer<i class="fas fa-plus ml-2 fn-font-14"></i>
  </button>
  <div class="row mt-3">
    <div class="col-12">
      <table id="tableSortExample" mdbTable class="z-depth-1" *ngIf="customers.length">
        <thead>
          <tr>
            <th
              *ngFor="let head of headElements; let i = index"
              aria-controls="tableSortExample"
              scope="col" (click)="sort(head)" class="fn-cursor-pointer"
            >
              {{ head.label }}
              <mdb-icon fas icon="sort" *ngIf="head.isSort"></mdb-icon>
            </th>
            <th>Action</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers; let i = index">
            <td *ngFor="let col of headElements">{{ col.value === 'createdAt' ? (customer[col.value] | date: 'yyyy-MM-dd  hh:mm') : customer[col.value] }}</td>
            <td>
              <button type="button" id="updateCustomer" class="btn btn-outline-success btn-floating update" (click)="update(customer._id)">
                <i class="far fa-edit"></i>
              </button>
            </td>
            <td>
              <button type="button" id="removeCustomer" class="btn btn-outline-danger btn-floating" (click)="remove(customer._id)">
                <i class="far fa-trash-alt"></i>
              </button>
              <!-- <i class="far fa-trash-alt fn-cursor-pointer" (click)="remove(customer._id)"></i> -->
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noData>
        <p class="text-center">No customers yet</p>
      </ng-template>
    </div>
  </div>
</div>
