<div class="container">
  <button
    mdbRipple
    type="button"
    class="btn btn-primary"
    (click)="addCustomer()"
  >
    Create Customer<i class="fas fa-plus ml-2 fn-font-14"></i>
  </button>
  <div class="row mt-3">
    <div class="col-12">
      <table id="tableSortExample" mdbTable class="z-depth-1">
        <thead>
          <tr>
            <th
              *ngFor="let head of headElements; let i = index"
              aria-controls="tableSortExample"
              scope="col"
            >
              {{ head.label }}
              <mdb-icon fas icon="sort"></mdb-icon>
            </th>
            <th>Action</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers$ | async; let i = index">
            <td *ngFor="let col of headElements">{{ col.value === 'createdAt' ? (customer[col.value] | date: 'yyyy-MM-dd  hh:mm') : customer[col.value] }}</td>
            <td><i class="far fa-edit fn-cursort-pointer" (click)="update(customer._id)"></i></td>
            <td><i class="far fa-trash-alt fn-cursort-pointer" (click)="remove(customer._id)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
